apiVersion: v1
kind: Service
metadata:
  name: {{ include "opencost-cloud-costs-exporter.fullname" . }}
  labels:
    {{- include "opencost-cloud-costs-exporter.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
  selector:
    {{- include "opencost-cloud-costs-exporter.selectorLabels" . | nindent 4 }}
